@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

/* Font faces */

@font-face {
  font-family: 'SFPro Text-Medium';
  src: url('../fonts/net-SFProText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SFPro Light';
  src: url('../fonts/net-SFProText-Light-1.ttf') format('truetype');
}

@font-face {
  font-family: 'SFPro Display-Bold';
  src: url('../fonts/net-SFProText-Bold-1.ttf') format('truetype');
}

@font-face {
  font-family: 'SFPro Text-Regular';
  src: url('../fonts/net-SFProText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SFPro Text-Semibold';
  src: url('../fonts/net-SFProText-Semibold-1.ttf') format('truetype');
}

@font-face {
  font-family: 'SFPro Display-Regular';
  src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
  font-family: 'SFPro Display-Bold';
  src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}

@font-face {
  font-family: 'SFPro Display-Semibold';
  src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
}

:root {
  --default-bold-body-font-family: 'SFPro Text-Semibold', Helvetica;
  --default-bold-body-font-size: 17px;
  --default-bold-body-font-style: normal;
  --default-bold-body-font-weight: 400;
  --default-bold-body-letter-spacing: -0.40799999237060547px;
  --default-bold-body-line-height: 22px;
  --default-bold-callout-font-family: 'SFPro Text-Semibold', Helvetica;
  --default-bold-callout-font-size: 16px;
  --default-bold-callout-font-style: normal;
  --default-bold-callout-font-weight: 400;
  --default-bold-callout-letter-spacing: -0.3199999928474426px;
  --default-bold-callout-line-height: 21px;
  --default-bold-caption1-font-family: 'SFPro Text-Medium', Helvetica;
  --default-bold-caption1-font-size: 12px;
  --default-bold-caption1-font-style: normal;
  --default-bold-caption1-font-weight: 500;
  --default-bold-caption1-letter-spacing: 0px;
  --default-bold-caption1-line-height: 16px;
  --default-bold-caption2-font-family: 'SFPro Text-Semibold', Helvetica;
  --default-bold-caption2-font-size: 11px;
  --default-bold-caption2-font-style: normal;
  --default-bold-caption2-font-weight: 400;
  --default-bold-caption2-letter-spacing: 0.05999999865889549px;
  --default-bold-caption2-line-height: 13px;
  --default-bold-footnote-font-family: 'SFPro Text-Semibold', Helvetica;
  --default-bold-footnote-font-size: 13px;
  --default-bold-footnote-font-style: normal;
  --default-bold-footnote-font-weight: 400;
  --default-bold-footnote-letter-spacing: -0.07800000160932541px;
  --default-bold-footnote-line-height: 18px;
  --default-bold-headline-font-family: 'SFPro Text-Semibold', Helvetica;
  --default-bold-headline-font-size: 17px;
  --default-bold-headline-font-style: normal;
  --default-bold-headline-font-weight: 400;
  --default-bold-headline-letter-spacing: -0.40799999237060547px;
  --default-bold-headline-line-height: 22px;
  --default-bold-largetitle-font-family: 'SFPro Display-Bold', Helvetica;
  --default-bold-largetitle-font-size: 34px;
  --default-bold-largetitle-font-style: normal;
  --default-bold-largetitle-font-weight: 700;
  --default-bold-largetitle-letter-spacing: 0.37400001287460327px;
  --default-bold-largetitle-line-height: 41px;
  --default-bold-subheadline-font-family: 'SFPro Text-Semibold', Helvetica;
  --default-bold-subheadline-font-size: 15px;
  --default-bold-subheadline-font-style: normal;
  --default-bold-subheadline-font-weight: 400;
  --default-bold-subheadline-letter-spacing: -0.5px;
  --default-bold-subheadline-line-height: 20px;
  --default-bold-title1-font-family: 'SFPro Display-Bold', Helvetica;
  --default-bold-title1-font-size: 28px;
  --default-bold-title1-font-style: normal;
  --default-bold-title1-font-weight: 700;
  --default-bold-title1-letter-spacing: 0.36000001430511475px;
  --default-bold-title1-line-height: normal;
  --default-bold-title2-font-family: 'SFPro Display-Semibold', Helvetica;
  --default-bold-title2-font-size: 20px;
  --default-bold-title2-font-style: normal;
  --default-bold-title2-font-weight: 400;
  --default-bold-title2-letter-spacing: 0.3799999952316284px;
  --default-bold-title2-line-height: 24px;
  --default-bold-title3-font-family: 'SFPro Display-Semibold', Helvetica;
  --default-bold-title3-font-size: 20px;
  --default-bold-title3-font-style: normal;
  --default-bold-title3-font-weight: 400;
  --default-bold-title3-letter-spacing: 0.3799999952316284px;
  --default-bold-title3-line-height: 24px;
  --default-regular-body-font-family: 'SFPro Text-Regular', Helvetica;
  --default-regular-body-font-size: 17px;
  --default-regular-body-font-style: normal;
  --default-regular-body-font-weight: 400;
  --default-regular-body-letter-spacing: -0.40799999237060547px;
  --default-regular-body-line-height: 22px;
  --default-regular-callout-font-family: 'SFPro Text-Regular', Helvetica;
  --default-regular-callout-font-size: 16px;
  --default-regular-callout-font-style: normal;
  --default-regular-callout-font-weight: 400;
  --default-regular-callout-letter-spacing: -0.3199999928474426px;
  --default-regular-callout-line-height: 21px;
  --default-regular-caption1-font-family: 'SFPro Text-Regular', Helvetica;
  --default-regular-caption1-font-size: 12px;
  --default-regular-caption1-font-style: normal;
  --default-regular-caption1-font-weight: 400;
  --default-regular-caption1-letter-spacing: 0px;
  --default-regular-caption1-line-height: 16px;
  --default-regular-caption2-font-family: 'SFPro Text-Regular', Helvetica;
  --default-regular-caption2-font-size: 11px;
  --default-regular-caption2-font-style: normal;
  --default-regular-caption2-font-weight: 400;
  --default-regular-caption2-letter-spacing: 0.06599999964237213px;
  --default-regular-caption2-line-height: 13px;
  --default-regular-footnote-font-family: 'SFPro Text-Regular', Helvetica;
  --default-regular-footnote-font-size: 13px;
  --default-regular-footnote-font-style: normal;
  --default-regular-footnote-font-weight: 400;
  --default-regular-footnote-letter-spacing: -0.07800000160932541px;
  --default-regular-footnote-line-height: 18px;
  --default-regular-headline-font-family: 'SFPro Text-Semibold', Helvetica;
  --default-regular-headline-font-size: 17px;
  --default-regular-headline-font-style: normal;
  --default-regular-headline-font-weight: 400;
  --default-regular-headline-letter-spacing: -0.40799999237060547px;
  --default-regular-headline-line-height: 22px;
  --default-regular-largetitle-font-family: 'SFPro Light', Helvetica;
  --default-regular-largetitle-font-size: 34px;
  --default-regular-largetitle-font-style: normal;
  --default-regular-largetitle-font-weight: 400;
  --default-regular-largetitle-letter-spacing: 0.37400001287460327px;
  --default-regular-largetitle-line-height: 41px;
  --default-regular-subheadline-font-family: 'SFPro Text-Regular', Helvetica;
  --default-regular-subheadline-font-size: 15px;
  --default-regular-subheadline-font-style: normal;
  --default-regular-subheadline-font-weight: 400;
  --default-regular-subheadline-letter-spacing: -0.23999999463558197px;
  --default-regular-subheadline-line-height: 20px;
  --default-regular-title1-font-family: 'SFPro Display-Regular', Helvetica;
  --default-regular-title1-font-size: 28px;
  --default-regular-title1-font-style: normal;
  --default-regular-title1-font-weight: 400;
  --default-regular-title1-letter-spacing: 0.36399999260902405px;
  --default-regular-title1-line-height: 34px;
  --default-regular-title2-font-family: 'SFPro Display-Regular', Helvetica;
  --default-regular-title2-font-size: 22px;
  --default-regular-title2-font-style: normal;
  --default-regular-title2-font-weight: 400;
  --default-regular-title2-letter-spacing: 0.3499999940395355px;
  --default-regular-title2-line-height: 28px;
  --default-regular-title3-font-family: 'SFPro Display-Regular', Helvetica;
  --default-regular-title3-font-size: 20px;
  --default-regular-title3-font-style: normal;
  --default-regular-title3-font-weight: 400;
  --default-regular-title3-letter-spacing: 0.3799999952316284px;
  --default-regular-title3-line-height: 24px;
  --extra-large-font-size: 86px;
  --labeldarkprimary: rgba(255, 255, 255, 1);
  --labeldarkquaternary: rgba(235, 235, 245, 0.18);
  --labeldarksecondary: rgba(235, 235, 245, 0.6);
  --labeldarktertiary: rgba(235, 235, 245, 0.3);
  --labellightprimary: rgba(0, 0, 0, 1);
  --labellightquaternary: rgba(60, 60, 67, 0.18);
  --labellightsecondary: rgba(60, 60, 67, 0.6);
  --labellighttertiary: rgba(60, 60, 67, 0.3);
  --weather-colorsolid1: rgba(72, 49, 157, 1);
  --weather-colorsolid2: rgba(31, 29, 71, 1);
  --weather-colorsolid3: rgba(196, 39, 251, 1);
  --weather-colorsolid4: rgba(224, 217, 255, 1);
  --gradient-linear-darkpurple: linear-gradient(168deg, #2e335a -4.68%, #1c1b33 95.45%);
  --gradient-linear-purple: linear-gradient(90deg, #5936b4 0%, #362a84 103.55%);
  --gradient-linear-bluepurple: linear-gradient(90deg, #427bd1 1.95%, #c159ec 101.56);
  --gradient-linear-bluesplit: linear-gradient(180deg, #aec9ff 0%, #aec9ff 54.51%, #083072 54.52%);
  --gradient-radial: radial-gradient(103.89% 121.8% at 34.94% 108.33%, #f7cbfd 0%, #7758d1 100%);
  --gradient-angular: conic-gradient(
    from 180deg at 50% 50%,
    rgba(97, 47, 171, 0) 50.017388463020325deg,
    #612fab 129.55134987831116deg,
    rgba(97, 47, 171, 0) 226.05700492858887deg,
    #612fab 269.28977251052856deg
  );
  --image-ellipse2-src: url('/assets/button/ellipse-2.svg');
  --homepage-background-src: url('/assets/homepage-bg.png');
}

/* Custom classes */

@layer utilities {
  .default-bold-body {
    font-family: var(--default-bold-body-font-family);
    font-size: var(--default-bold-body-font-size);
    font-style: var(--default-bold-body-font-style);
    font-weight: var(--default-bold-body-font-weight);
    letter-spacing: var(--default-bold-body-letter-spacing);
    line-height: var(--default-bold-body-line-height);
  }

  .default-bold-callout {
    font-family: var(--default-bold-callout-font-family);
    font-size: var(--default-bold-callout-font-size);
    font-style: var(--default-bold-callout-font-style);
    font-weight: var(--default-bold-callout-font-weight);
    letter-spacing: var(--default-bold-callout-letter-spacing);
    line-height: var(--default-bold-callout-line-height);
  }

  .default-bold-caption1 {
    font-family: var(--default-bold-caption1-font-family);
    font-size: var(--default-bold-caption1-font-size);
    font-style: var(--default-bold-caption1-font-style);
    font-weight: var(--default-bold-caption1-font-weight);
    letter-spacing: var(--default-bold-caption1-letter-spacing);
    line-height: var(--default-bold-caption1-line-height);
  }

  .default-bold-caption2 {
    font-family: var(--default-bold-caption2-font-family);
    font-size: var(--default-bold-caption2-font-size);
    font-style: var(--default-bold-caption2-font-style);
    font-weight: var(--default-bold-caption2-font-weight);
    letter-spacing: var(--default-bold-caption2-letter-spacing);
    line-height: var(--default-bold-caption2-line-height);
  }

  .default-bold-footnote {
    font-family: var(--default-bold-footnote-font-family);
    font-size: var(--default-bold-footnote-font-size);
    font-style: var(--default-bold-footnote-font-style);
    font-weight: var(--default-bold-footnote-font-weight);
    letter-spacing: var(--default-bold-footnote-letter-spacing);
    line-height: var(--default-bold-footnote-line-height);
  }

  .default-bold-headline {
    font-family: var(--default-bold-headline-font-family);
    font-size: var(--default-bold-headline-font-size);
    font-style: var(--default-bold-headline-font-style);
    font-weight: var(--default-bold-headline-font-weight);
    letter-spacing: var(--default-bold-headline-letter-spacing);
    line-height: var(--default-bold-headline-line-height);
  }

  .default-bold-largetitle {
    font-family: var(--default-bold-largetitle-font-family);
    font-size: var(--default-bold-largetitle-font-size);
    font-style: var(--default-bold-largetitle-font-style);
    font-weight: var(--default-bold-largetitle-font-weight);
    letter-spacing: var(--default-bold-largetitle-letter-spacing);
    line-height: var(--default-bold-largetitle-line-height);
  }

  .default-bold-subheadline {
    font-family: var(--default-bold-subheadline-font-family);
    font-size: var(--default-bold-subheadline-font-size);
    font-style: var(--default-bold-subheadline-font-style);
    font-weight: var(--default-bold-subheadline-font-weight);
    letter-spacing: var(--default-bold-subheadline-letter-spacing);
    line-height: var(--default-bold-subheadline-line-height);
  }

  .default-bold-title1 {
    font-family: var(--default-bold-title1-font-family);
    font-size: var(--default-bold-title1-font-size);
    font-style: var(--default-bold-title1-font-style);
    font-weight: var(--default-bold-title1-font-weight);
    letter-spacing: var(--default-bold-title1-letter-spacing);
    line-height: var(--default-bold-title1-line-height);
  }

  .default-bold-title2 {
    font-family: var(--default-bold-title2-font-family);
    font-size: var(--default-bold-title2-font-size);
    font-style: var(--default-bold-title2-font-style);
    font-weight: var(--default-bold-title2-font-weight);
    letter-spacing: var(--default-bold-title2-letter-spacing);
    line-height: var(--default-bold-title2-line-height);
  }

  .default-bold-title3 {
    font-family: var(--default-bold-title3-font-family);
    font-size: var(--default-bold-title3-font-size);
    font-style: var(--default-bold-title3-font-style);
    font-weight: var(--default-bold-title3-font-weight);
    letter-spacing: var(--default-bold-title3-letter-spacing);
    line-height: var(--default-bold-title3-line-height);
  }

  .default-regular-body {
    font-family: var(--default-regular-body-font-family);
    font-size: var(--default-regular-body-font-size);
    font-style: var(--default-regular-body-font-style);
    font-weight: var(--default-regular-body-font-weight);
    letter-spacing: var(--default-regular-body-letter-spacing);
    line-height: var(--default-regular-body-line-height);
  }

  .default-regular-callout {
    font-family: var(--default-regular-callout-font-family);
    font-size: var(--default-regular-callout-font-size);
    font-style: var(--default-regular-callout-font-style);
    font-weight: var(--default-regular-callout-font-weight);
    letter-spacing: var(--default-regular-callout-letter-spacing);
    line-height: var(--default-regular-callout-line-height);
  }

  .default-regular-caption1 {
    font-family: var(--default-regular-caption1-font-family);
    font-size: var(--default-regular-caption1-font-size);
    font-style: var(--default-regular-caption1-font-style);
    font-weight: var(--default-regular-caption1-font-weight);
    letter-spacing: var(--default-regular-caption1-letter-spacing);
    line-height: var(--default-regular-caption1-line-height);
  }

  .default-regular-caption2 {
    font-family: var(--default-regular-caption2-font-family);
    font-size: var(--default-regular-caption2-font-size);
    font-style: var(--default-regular-caption2-font-style);
    font-weight: var(--default-regular-caption2-font-weight);
    letter-spacing: var(--default-regular-caption2-letter-spacing);
    line-height: var(--default-regular-caption2-line-height);
  }

  .default-regular-footnote {
    font-family: var(--default-regular-footnote-font-family);
    font-size: var(--default-regular-footnote-font-size);
    font-style: var(--default-regular-footnote-font-style);
    font-weight: var(--default-regular-footnote-font-weight);
    letter-spacing: var(--default-regular-footnote-letter-spacing);
    line-height: var(--default-regular-footnote-line-height);
  }

  .default-regular-headline {
    font-family: var(--default-regular-headline-font-family);
    font-size: var(--default-regular-headline-font-size);
    font-style: var(--default-regular-headline-font-style);
    font-weight: var(--default-regular-headline-font-weight);
    letter-spacing: var(--default-regular-headline-letter-spacing);
    line-height: var(--default-regular-headline-line-height);
  }

  .default-regular-largetitle {
    font-family: var(--default-regular-largetitle-font-family);
    font-size: var(--extra-large-font-size);
    font-style: var(--default-regular-largetitle-font-style);
    font-weight: var(--default-regular-largetitle-font-weight);
    letter-spacing: var(--default-regular-largetitle-letter-spacing);
    line-height: var(--default-regular-largetitle-line-height);
  }

  .default-regular-subheadline {
    font-family: var(--default-regular-subheadline-font-family);
    font-size: var(--default-regular-subheadline-font-size);
    font-style: var(--default-regular-subheadline-font-style);
    font-weight: var(--default-regular-subheadline-font-weight);
    letter-spacing: var(--default-regular-subheadline-letter-spacing);
    line-height: var(--default-regular-subheadline-line-height);
  }

  .default-regular-title1 {
    font-family: var(--default-regular-title1-font-family);
    font-size: var(--default-regular-title1-font-size);
    font-style: var(--default-regular-title1-font-style);
    font-weight: var(--default-regular-title1-font-weight);
    letter-spacing: var(--default-regular-title1-letter-spacing);
    line-height: var(--default-regular-title1-line-height);
  }

  .default-regular-title2 {
    font-family: var(--default-regular-title2-font-family);
    font-size: var(--default-regular-title2-font-size);
    font-style: var(--default-regular-title2-font-style);
    font-weight: var(--default-regular-title2-font-weight);
    letter-spacing: var(--default-regular-title2-letter-spacing);
    line-height: var(--default-regular-title2-line-height);
  }

  .default-regular-title3 {
    font-family: var(--default-regular-title3-font-family);
    font-size: var(--default-regular-title3-font-size);
    font-style: var(--default-regular-title3-font-style);
    font-weight: var(--default-regular-title3-font-weight);
    letter-spacing: var(--default-regular-title3-letter-spacing);
    line-height: var(--default-regular-title3-line-height);
  }
}
